@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
body
{
    margin: 0;
    padding: 0;
    /* background-image: url(https://image.freepik.com/free-vector/background-mountains-landscape_23-2148288639.jpg); */
    /* background-repeat: no-repeat;
    background-size: 100%; */
    background-color: black;
    font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  color: white
}
